header {
  background-color: rgb(15, 141, 199);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
}

.main {
  width: 50%;
  margin: auto;
}
.main img {
  display: block;
  margin: 0 auto;
}

.beerContent {
  display: flex;
  justify-content: space-between;
}
